lab_project/db
lab_project/lab_project.qpf
lab_project/lab_project.qsf
lab_project/output_files
lab_project/incremental_db
rtl/display/objects_mux.vhd.bak
rtl/game_components/game_manager.vhd.bak
rtl/game_components/game_manager.vhd.orig
rtl/game_components/hit_manager.vhd.bak
rtl/game_components/kbd_to_parser_intf.vhd.bak
rtl/game_components/player1_parser.vhd.bak
rtl/game_components/player_logic.vhd.orig
rtl/game_components/special_attack_movement.vhd.bak
rtl/illustrators/life_bar_renderer.vhd.bak
rtl/illustrators/main_menu_renderer.vhd
rtl/illustrators/main_menu_renderer.vhd.bak
rtl/illustrators/player_renderer.vhd.bak
rtl/illustrators/special_attack_renderer.vhd.bak
rtl/illustrators/start_menu_renderer.vhd.bak
rtl/keyboard/KBD.bsf
*.vhd.bak
*/*.vhd.bak
*/*/*.vhd.bak
